<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-xl-4 col-lg-4" *ngFor="let slide of dashboardSlider">
      <div class="card o-hidden">
        <div class="bg-primary b-r-4 card-body">
          <div class="media static-top-widget">
            <div class="align-self-center text-center">
            </div>
            <div class="media-body"><span class="m-0">{{slide.title | translate}}</span>
              <h4 *ngIf="slide.number !== 0; else number0" class="mb-0 counter" [CountTo]=slide.number [from]="0"
                [duration]="1"></h4>
              <ng-template #number0>
                <h4 class="mb-0 counter">0</h4>
              </ng-template>
              <i class="icon-bg" [attr.data-feather]="slide.icon"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>{{ 'Earthquake Pictures' | translate}}</h5>
        </div>
        <div class="card-body" id="aniimated-thumbnials">
          <owl-carousel-o [options]="owlcarousel14Options">
            <ng-template carouselSlide class="item" [id]="i" *ngFor="let img of owlcarousel1; let i = index">
              <img [src]="[img.img]" (click)="openImageModalRowDescription(img)" alt="">
            </ng-template>
          </owl-carousel-o>
          <ks-modal-gallery [id]="2" [modalImages]="imagesRect" [plainGalleryConfig]="customPlainGalleryRowDescConfig"
            [currentImageConfig]="{downloadable: true}" [buttonsConfig]="buttonsConfigCustom"
            (buttonBeforeHook)="onButtonBeforeHook($event)" (buttonAfterHook)="onButtonAfterHook($event)">
          </ks-modal-gallery>
        </div>
      </div>
    </div>
  </div>
  <div class="row leaflet-custom">
    <div class="col-xl-12">
      <div class="card">
        <div class="card-header  b-b-primary">
          <h5>{{ 'Earthquake Map' | translate }}</h5>
        </div>
        <div class="card-body mt-3 leaflet-custom">
          <div class="map-height" leaflet [leafletOptions]="mapOptions" (leafletMapReady)="onMapReady($event)"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header  b-b-primary">
          <h5>{{ 'Earthquake Table' | translate }}</h5>
        </div>
        <div class="card-body custom-datatable">
          <ngx-datatable class="bootstrap" [rows]="earthquakeRows" [columns]="columns" [columnMode]="'force'"
            [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [limit]="10" [scrollbarH]="true" [messages]="{
              emptyMessage: currentLang == 'hr' ? 'Nema rezultata' : 'No entries',
              totalMessage: currentLang == 'hr' ? 'ukupno' : 'total'}">
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>