<div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header b-b-primary d-flex justify-content-between align-items-center">
          <h5>{{ 'Denomination structure' | translate }}</h5>
          <div class="d-flex">
            <div class="button-padding">
            <button class="btn btn-primary">{{'Export data' | translate }}</button>
          </div>
          <div class="button-padding">
            <button class="btn btn-primary">{{'Import data' | translate }}</button>
          </div>
          </div>
        </div>
        <div>
          <div class=" card-header d-flex justify-content-between align-items-center">
            <h6>{{ 'Currency list' | translate }}</h6>
            <button class="btn btn-primary">{{ 'New currency' | translate }}</button>       
        </div>
        </div>
        <div class="card-body custom-datatable">
          <ngx-datatable class="bootstrap" [rows]="currencies" [columns]="mainTableColumns" [columnMode]="'force'"
            [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10" [scrollbarH]="true" [messages]="{
              emptyMessage: currentLang == 'hr' ? 'Nema rezultata' : 'No entries',
              totalMessage: currentLang == 'hr' ? 'ukupno' : 'total'}" (activate)="onClickMainTableRow($event)">
          </ngx-datatable>
        </div>
      </div>
    </div>
    <!-- <div class="col-sm-12" *ngIf="mainTableClickedAction$ | async">
      <div class="card">
        <div class="card-header b-b-primary">
          <h5>{{ 'Preview devices' | translate }}</h5>
        </div>
        <div class="card-body custom-datatable">
          <ngx-datatable class="bootstrap" [rows]="devices" [columns]="altTableColumns" [columnMode]="'force'"
            [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10" [scrollbarH]="true" [messages]="{
              emptyMessage: currentLang == 'hr' ? 'Nema rezultata' : 'No entries',
              totalMessage: currentLang == 'hr' ? 'ukupno' : 'total'}" (activate)="onClickMainTableRow($event)">
          </ngx-datatable>
        </div>
        <app-currency-detail></app-currency-detail>
      </div>
    </div> -->
  </div>
  
