<div class="modal-header">
    <h4 class="modal-title" *ngIf="apoen else addApoen">{{ 'Edit apoen structure' | translate}}</h4>
    <ng-template #addApoen>
      <h4 class="modal-title">{{ 'Add apoen structure' | translate }}</h4>
    </ng-template>
    <button type="button" class="close" aria-label="Close" (click)="modalClose('dismiss')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form class="needs-validation" [formGroup]="controlApoenGroup" #ngControlCurrencyForm="ngForm" autocomplete="off">
    <div class="card-body">
    <div class="modal-body input-group d-flex p-0">
      <div class="col-lg-4 pl-4">
        <div class="form-group">
          <label class="col-form-label required">{{ 'Currency code' | translate }} <span
              class="text-danger">*</span></label>
          <input class="form-control" formControlName="name" type="text" placeholder="HRK"
            [ngClass]="{'is-invalid': name.invalid && (name.dirty || name.touched || ngControlCurrencyForm.submitted)}">
          <div class="invalid-feedback"
            *ngIf="name.invalid && name.errors?.required && (name.dirty || name.touched || ngControlCurrencyForm.submitted)">
            {{ 'Currency code name is required' | translate}}
          </div>
        </div>
      </div>
      <div class="col-lg-4 pl-4">
        <div class="form-group">
          <label class="col-form-label required">
            {{'Value' | translate}}
            <span class="text-danger"> *</span>
          </label>
          <input class="form-control" type="text" formControlName="value"
            placeholder="1"
            [ngClass]="{'is-invalid': value.invalid && (value.dirty || value.touched || ngControlCurrencyForm.submitted)}">
          <div class="invalid-feedback" *ngIf="value.invalid && value.errors?.required">
            {{ 'Value is required' | translate }}
          </div>
          <div class="invalid-feedback" *ngIf="value?.errors?.pattern">
            {{'Value required only numbers' | translate}}
          </div>
        </div>
      </div>
    <div class="col-lg-4 pl-4">
        <div class="form-group">
            <label class="col-form-label required">
                {{'Type' | translate}}
                <span class="text-danger"> *</span>
            </label>
            <select class="form-control digits" formControlName="type" id="type" name="type" required="required"
                [ngClass]="{'is-invalid': type.invalid && (type.dirty || type.touched || ngControlCurrencyForm.submitted)}">
                <option value="" disabled selected>{{'Choose' | translate}}</option>
                <option *ngFor="let curType of currencyType" [value]="curType.id">{{curType.name}}</option>
            </select>
            <div class="invalid-feedback" *ngIf="type.invalid && type.errors?.required">
                {{ 'Type is required' | translate }}
            </div>
        </div>
    </div>
    </div>
  </div>
</form>
    <div class="modal-footer d-flex justify-content-between">
      <button type="button" class="btn btn-light" ngbAutoFocus (click)="modalClose('dismiss')">{{ 'Close' | translate }}</button>
      <div class="d-flex">
        <div>
          <button type="submit" class="btn btn-primary" (click)="modalClose('dismiss')">{{ 'Submit' | translate }}</button>
        </div>
      </div>
    </div>
  

