<div class="modal-header">
  <h4 class="modal-title" *ngIf="row; else addCompany">{{ 'Edit company' | translate}}</h4>
  <ng-template #addCompany>
    <h4 class="modal-title">{{ 'Add company' | translate }}</h4>
  </ng-template>
  <button type="button" class="close" aria-label="Close" (click)="_modalService.dismiss('dismiss')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form class="needs-validation" [formGroup]="companyGroup" #ngCompanyForm="ngForm" autocomplete="off"
  (ngSubmit)="onSubmit()">
  <div class="modal-body input-group p-0">
    <div class="col-lg-6">
      <div class="form-group">
        <label class="col-form-label pt-0 required">{{ 'Company name' | translate }} <span
            class="text-danger">*</span></label>
        <input class="form-control" formControlName="name" type="text" placeholder="Lidl d.o.o"
          [ngClass]="{'is-invalid': name.invalid && (name.dirty || name.touched || ngCompanyForm.submitted)}">
        <div class="invalid-feedback"
          *ngIf="name.invalid && name.errors?.required && (name.dirty || name.touched || ngCompanyForm.submitted)">
          {{ 'Company name is required' | translate}}
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="form-group">
        <label class="col-form-label pt-0 required">{{ 'Company address' | translate }} <span
            class="text-danger">*</span></label>
        <input class="form-control" formControlName="address" type="text" placeholder="Zorkovačka 2"
          [ngClass]="{'is-invalid': address.invalid && (address.dirty || address.touched || ngCompanyForm.submitted)}">
        <div class="invalid-feedback"
          *ngIf="address.invalid && address.errors?.required && (address.dirty || address.touched || ngCompanyForm.submitted)">
          {{ 'Company address is required' | translate}}
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="form-group">
        <label class="col-form-label pt-0 required">{{ 'Company headquarters' | translate }} <span
            class="text-danger">*</span></label>
        <input class="form-control" formControlName="headquarters" type="text" placeholder="Zorkovačka 2"
          [ngClass]="{'is-invalid': headquarters.invalid && (headquarters.dirty || headquarters.touched || ngCompanyForm.submitted)}">
        <div class="invalid-feedback"
          *ngIf="headquarters.invalid && headquarters.errors?.required && (headquarters.dirty || headquarters.touched || ngCompanyForm.submitted)">
          {{ 'Company headquarters is required' | translate}}
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="form-group">
        <label class="col-form-label required">
          {{'Company identificator' | translate}}
          <span class="text-danger"> *</span>
        </label>
        <input class="form-control" type="text" formControlName="identificationNumber" placeholder="321-d23-12asd-321"
          [ngClass]="{'is-invalid': identificationNumber.invalid && (identificationNumber.dirty || identificationNumber.touched || ngCompanyForm.submitted)}">
      </div>
    </div>
    <div class="col-lg-12 d-flex align-items-center mb-3">
      <div class="form-group mb-0">
        <label class="d-block mb-0" for="send_mail">
          <input class="checkbox_animated" id="send_mail" type="checkbox" formControlName="isAdmin">
          {{ 'Administrator company (sees every device)' | translate }}
        </label>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="form-group">
        <label class="col-form-label pt-0 required">
          {{ 'The daily file name of the summary cash order' | translate }}</label>
        <input class="form-control" formControlName="jointOrderFilename" type="text"
          placeholder="Naziv dnevne datoteke">
      </div>
    </div>
  </div>
  <div class="modal-footer d-flex justify-content-between">
    <button type="button" class="btn btn-light" ngbAutoFocus (click)="_modalService.dismiss('dismiss')">
      {{ 'Close' | translate }}</button>
    <button type="submit" class="btn btn-primary">{{ 'Submit' | translate }}</button>
  </div>
</form>
