.ngx-datatable.material { .datatable-body { .progress-linear { position: absolute !important; } } }
/deep/ .ngx-datatable{
  .sortable .sort-btn:before {
      font-family: work-Sans, sans-serif;
      content: "c";
  }
  .sortable .sort-btn.datatable-icon-down:before {
    content: '\e968'; // You favorite Icon
    font-family: work-Sans, sans-serif; // Your Font Family
  }
  .sortable .sort-btn.datatable-icon-up:before {
    content: '\e968'; // You favorite Icon
    font-family: work-Sans, sans-serif; // Your Font Family
  }
}
